body {
    text-align: center;
    background: linear-gradient(90deg, black, black, rgb(181, 128, 241));
}
#shades {
    width: 150px;
    height: auto;
    position: absolute;
    z-index: 2;  
}
#page {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
#contain {
    position: relative;
    overflow: hidden;
    text-align: center;
    width: 400px;
    max-width: 100%;
    height: 450px;
    display: block;
    background-color: #FFFFFF;
}
.text {
    width: 400px;
    height: 450px;
    font-family:  'Lucida Sans', verdana, sans-serif;
    line-height: 1.6;
    overflow: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
}
.text span {
    font-size: 10px;
    font-style: italic;
}
#photo {
    width: auto;
    height: 450px;
}
.contact {
    width: 120px;
    height: 120px;
}
.contact:hover {
    width: 150px;
    height: 150px;
}
#contain2 {
    text-align: center;
    position: relative;
    width: 400px;
    height: 20px;
    margin: 0 auto;
    color: white;
    font-family: monospace, verdana, sans-serif;
    font-size: 12px;
}
.links {
    text-align: center;
    height: 20px;
    color: white;
    text-decoration: none;
}
.links:visited {
    color: white;
}
.links:hover {
    text-decoration: underline;
}