body {
    background: rgb(164, 125, 253);
    text-align: center;
}
h1 {
    text-align: center;
}
#contain2 {
    text-align: center;
    background-color: rgb(164, 125, 253);
    position: relative;
    width:500px;
    height:20px;
    margin: 0 auto;
    color: white;
    font-family: "Verdana";
}
#links {
    text-align: center;
    height: 20px;
    color:white;
    text-decoration: none;
}
#links:visited{
    color: white;
}
#links:hover {
    text-decoration: underline;
}
#contain {
    position: relative;
    overflow: hidden;
    top: 50%;
    text-align: center;
    width: 500px;
    height: 450px;
    display: block;
    margin: 0 auto;
    background-color: #FFFFFF;
}
#text {
    width:500px;
    height:450px;
    display: block;
    overflow: auto;
}